version: '3.5'

services:
  jackett:
    image: linuxserver/jackett
    container_name: jackett
    networks:
      - web
    ports:
      - 9117:9117
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    volumes:
      - ${PERSISTENT_DIR}/config:/config
      - ${PERSISTENT_DIR}/downloads:/downloads
    labels:
      - "traefik.docker.network=web"
      - "traefik.enable=true"
      - "traefik.backend=jackett"
      - "traefik.frontend.rule=Host:jackett.${DOMAIN_BASE}"
      - "traefik.port=9117"
      - "com.centurylinklabs.watchtower.enable=true"
    restart: unless-stopped

networks:
  web:
    external: true

# vim: tabstop=2 shiftwidth=2 expandtab
